<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ThreeBoilerplateGenerator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <applicationSettings>
        <ThreeBoilerplateGenerator.Properties.Settings>
            <setting name="code_includes_start" serializeAs="String">
                <value>&lt;script src=</value>
            </setting>
            <setting name="code_animate_start" serializeAs="String">
                <value>
function animate() {
 requestAnimationFrame( animate );
</value>
            </setting>
            <setting name="code_animate_end" serializeAs="String">
                <value>
  renderer.render( scene, camera );
}
</value>
            </setting>
            <setting name="code_global_vars" serializeAs="String">
                <value> var camera, scene, renderer;
 var mesh;
</value>
            </setting>
            <setting name="code_resize_func" serializeAs="String">
                <value>
function onWindowResize() {
  camera.aspect = window.innerWidth / window.innerHeight;
  camera.updateProjectionMatrix();
  renderer.setSize( window.innerWidth, window.innerHeight );
}
</value>
            </setting>
            <setting name="code_resize_listen" serializeAs="String">
                <value>window.addEventListener( 'resize', onWindowResize, false );</value>
            </setting>
            <setting name="code_renderer" serializeAs="String">
                <value> renderer = new THREE.WebGLRenderer( { antialias: true } );
 renderer.setPixelRatio( window.devicePixelRatio );
 renderer.setSize( window.innerWidth, window.innerHeight );
 document.body.appendChild( renderer.domElement );
</value>
            </setting>
            <setting name="code_html_start" serializeAs="String">
                <value>&lt;!DOCTYPE html&gt;
&lt;html lang="en"&gt;
 &lt;head&gt;
  &lt;title&gt;</value>
            </setting>
            <setting name="code_html_end" serializeAs="String">
                <value>
  &lt;/script&gt;
 &lt;/body&gt;
&lt;/html&gt;</value>
            </setting>
            <setting name="code_camera_scene" serializeAs="String">
                <value> camera = new THREE.PerspectiveCamera( 70, window.innerWidth / window.innerHeight, 1, 1000 );
 camera.position.z = 400;
 scene = new THREE.Scene();
</value>
            </setting>
            <setting name="code_sample_mesh" serializeAs="String">
                <value> var geometry = new THREE.BoxBufferGeometry( 200, 200, 200 );
 var material = new THREE.MeshBasicMaterial( { color: "red"} );

 mesh = new THREE.Mesh( geometry, material );
 scene.add( mesh );
</value>
            </setting>
            <setting name="code_sample_mesh_animate" serializeAs="String">
                <value> mesh.rotation.x += 0.005;
 mesh.rotation.y += 0.01;
</value>
            </setting>
            <setting name="code_call_init_animate" serializeAs="String">
                <value> init();
 animate();

 function init() {
</value>
            </setting>
            <setting name="code_script_start" serializeAs="String">
                <value>&lt;script&gt;
</value>
            </setting>
            <setting name="code_func_end" serializeAs="String">
                <value>
}
</value>
            </setting>
            <setting name="code_html_start2" serializeAs="String">
                <value>&lt;/title&gt;
  &lt;meta charset="utf-8"&gt;
  &lt;meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"&gt;
  &lt;style&gt;
   body {
	margin: 0px;
	background-color: #000000;
	overflow: hidden;
   }
  &lt;/style&gt;
 &lt;/head&gt;
 &lt;body&gt;</value>
            </setting>
            <setting name="code_includes_start2" serializeAs="String">
                <value>&gt;&lt;/script&gt;</value>
            </setting>
            <setting name="code_orbit_include" serializeAs="String">
                <value>&lt;script src="https://threejs.org/examples/js/controls/OrbitControls.js"&gt;&lt;/script&gt;
</value>
            </setting>
            <setting name="code_orbit_add" serializeAs="String">
                <value>controls = new THREE.OrbitControls(camera, renderer.domElement);
</value>
            </setting>
            <setting name="code_orbit_update" serializeAs="String">
                <value>controls.update();
</value>
            </setting>
        </ThreeBoilerplateGenerator.Properties.Settings>
    </applicationSettings>
</configuration>